.teams {
    text-align: center;
    position: relative;
}

.teams-img {
    max-width: 100%;
    opacity: 35%;
    position: fixed;
    left: 0;
}

.teams-text {
    position: absolute;
    top: 0;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    font-size: x-large;
    font-weight: 500;
    width: 60%;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

.input-field {
    display: block;
    padding: 1rem; 
    margin: auto;  
    width: 60%;
    border: 1px solid #000;
    border-radius: 8px; 
}

.submit-btn {
    display: block;
    padding: 0.6rem;
    margin: 0.6rem auto;
    border: 1px solid #000;
    border-radius: 8px;
    cursor: pointer;
    font-size: large;    
}